* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* Page Header Begin */

.page-header ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: #fed517;
    font-size: 19px;
}

.page-header li {
    display: table-cell;
    width: 14%;
    text-align: center;
    vertical-align: middle;
}

.page-header div {
    display: block;
    border-right: 2px solid #cbab16;
}

.page-header a {
    text-decoration: none;
    color: #846f0d;
}

.page-header a:hover {
    text-decoration: underline;
}

.page-header sub {
    bottom: 0;
}

.page-header .disabled a {
    text-decoration: none;
    cursor: default;
    opacity: 0.3;
}

.page-header .active a {
    text-decoration: underline;
    color: #d50307;
}

/* Page Header End */

table {
    width: 100%;
    border-spacing: 0;
}

/* Validator Table Begin */

.validator-table-wrapper {
    overflow: auto;
    max-height: 260px;
}

.validator-table {
    font-size: 12px;
    color: #6d6d6d;
}

.validator-table th,
.validator-table td {
    padding: 10px 5px;
}

.validator-table thead th {
    border-bottom: 1px solid #dbdcdc;
}

.validator-table .validator-col {
    width: 90px;
    padding-left: 20px;
    text-align: left;
}

.validator-table .letter-col {
    width: 50px;
    text-align: center;
}

.validator-table .address-col {
    text-align: left;
}

.validator-table .rest-col {
    width: 80px;
    text-align: center;
}

.validator-table td.rest-col {
    font-size: 16px;
    font-weight: bold;
}

.validator-table td.request-col {
    text-align: right;
}

.validator-table .comment-col {
    text-align: left;
}

.validator-table .comment {
    width: 100%;
}

/* Validator Table End */